@use "sass:color"; // To use transparentize().

$max-width: 1200px;

$link-color: #568aa3; // dark gray blue.
$color-bg-discs: white;
$color-print-bg-discs: #eff2f4; // very light gray blue.
// $color-timeline: #568aa3; // dark gray blue.
$color-timeline: red; // dark gray blue.
$color-bg-page-top: #d1d9e2;
$color-bg-page-bottom: #a7b3bf; // light gray blue.

$timeline-line-width: 1px; // Width of the timeline line.
$timeline-left-margin: 2em; // Distance on the left of the line.
$timeline-left-padding: 2em; // Distance between the line and the text.
$timeline-bottom-padding: 3em; // Length of the line below the last item.
$timeline-bullet-width: .7em; // Diameter of the bullet point on the timeline.

// A mixin to create background discs
@mixin bg-disc($bg-color) {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  background-color: $bg-color;
  // Hack to have the background color always printed.
  box-shadow: inset -1000px -1000px $bg-color;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;               /* Firefox 48 – 96 */
  print-color-adjust: exact !important;         /* Firefox 97+, Safari 15.4+ */
}

html, body {
  margin: 0;
}

html {
  background-color: $color-bg-page-bottom;
  // Use multiple backgrounds:
  // Behind a linear gradient and then
  // on top two radial gradients.
  background-image:
    radial-gradient( // top left light.
      circle at left top,
      $color-bg-discs 0%,
      $color-bg-discs 20%,
      transparent 70%
    ),
    radial-gradient( // top right light.
      circle at right top,
      $color-bg-discs 0%,
      $color-bg-discs 20%,
      transparent 70%
    ),
    linear-gradient( // page background.
      180deg,
      $color-bg-page-top,
      $color-bg-page-bottom
    );
  background-size:
    35vw 35vw,
    30vw 30vw,
    100% 100%;
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
  background-position:
    top left,
    top right,
    top left;
  
  // Don't jump quickly to the destination.
  scroll-behavior: smooth;
}

// body {
//   padding: 1em;
//   font-family: Arial, sans serif;
//   font-size: 16px;
//   max-width: $max-width;
//   margin: 0 auto;
// }

// nav.jump-to {
//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 1em 0;
//     display: flex;
//   }
  
//   li:nth-child(n+2) {
//     margin-left: 1em;
//     padding-left: 1em;
//     border-left: 1px solid $color-timeline;
//   }
  
//   a, a:link, a:visited {
//     text-decoration: none;
//     color: $link-color;
//   }
//   a:hover, a:active {
//     color: darken($link-color, 15%);
//   }
// }

// When an id is targeted in the URL then animate it so that
// we can see where it is on the screen.
:target {
  animation: target-animation 3s ease;
}

// The background animation for the targeted element.
// @keyframes target-animation {
//   0% {
//     background: transparent;
//   }
//   20% {
//     background: transparentize($color-timeline, .5);
//   }
//   100% {
//     background: transparent;
//   }
// }
  
.timelines {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
}

h2.timeline-title {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;

}

ul.timeline-items {
  list-style-type: none;
  margin: $timeline-left-margin;
  padding: 0.01em 0 $timeline-bottom-padding $timeline-left-padding;
  border-left: $timeline-line-width solid $color-timeline;
}
.dates{
  position: absolute;
  /* top: 7px; */
  // margin-top: -25px;
  color: red;
  margin-left: -100px;
}


li.timeline-item {
  margin-bottom: 2em;
  margin-top: -.3em; // pull up a bit.
  
  h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    position: relative; // To put the bullet in absolute;
    
    // The bullet point on the timeline.
    &::before {
      content: "";
      position: absolute;
      left: -#{$timeline-left-padding + $timeline-bullet-width / 2};
      background-color: $color-timeline;
      // Hack to force the background to print.
      box-shadow: inset -1000px -1000px $color-timeline;
      width: $timeline-bullet-width;
      height: $timeline-bullet-width;
      border-radius: 50%;
      transform: translate(-#{$timeline-line-width / 2}, .2em);
    }
  }
  
  .date-interval {
    // Free for specific CSS rules for the date interval.
  }

  // All direct children of .timeline-item should have the same margins.
  & > * {
    margin: 1em 0;
  }
  
  .location {
    font-size: 0.85em;
    font-style: italic;
  }
}

// The "Print the page" button.
// button {
//   font-size: .85em;
//   color: black;
//   background: transparentize(white, 0.8);
//   border: 1px solid;
//   border-color: transparentize(white, 0.03)
//                 transparentize(black, 0.7)
//                 transparentize(black, 0.6)
//                 transparentize(white, 0.07);
//   padding: .25em 1em;
//   border-radius: .3em;
// }

// On small screens, move the second right circle down.
@media screen and (max-width: 700px) {
  html {
    background-image:
      radial-gradient( // top left light.
        circle at left top,
        $color-bg-discs 0%,
        $color-bg-discs 20%,
        transparent 70%
      ),
      radial-gradient( // center right light.
        circle at right,
        $color-bg-discs 0%,
        $color-bg-discs 5%,
        transparent 45%
      ),
      linear-gradient( // page background.
        180deg,
        $color-bg-page-top,
        $color-bg-page-bottom
      );
    background-size:
      25em 25em,
      30em 30em,
      100% 100%;
    background-position:
      0 0,
      100% 65%,
      0 0;
  }
}

@media print {
  @page {
    // No paper margins because we would like to have
    // the background circles go to the paper corners.
    // We'll add some padding on the body instead.
    margin: 0;
  }
  
  // Remove the backgrounds and set it just white.
  html {
    background: white;
  }
  
  body {
    // We have set page margins to 0 so we will add
    // some body padding to have the background discs
    // going to the paper corners but not the text content.
    padding: 2cm 2.5cm;
    // We'll use pseudo-elements as background discs
    // because background don't print by default.
    overflow-x: clip;
    // For the 2 pseudo-elements placed in absolute.
    position: relative;

    &::before, &::after {
      @include bg-disc($color-print-bg-discs);
    }

    // The disc on the top left.
    &::before {
      top: -10em;
      left: -15em;
      width: 25em;
      height: 30em;
    }

    // The disc on the top right.
    &::after {
      top: -12em;
      right: -12em;
      width: 25em;
      height: 25em;
    }
  }
  
  // Don't print the navigation and print button.
  button,
  nav.jump-to {
    display: none;
    visibility: hidden;
  }
}

@media print and (min-width: 450px) {
  body {
    // The disc on the top right.
    &::after {
      top: 30em;
      right: -17em;
    }
    
  }
  
}
